
    
    <div class="footer clear"><a href="#" target="_blank">关于我们</a> | <a href="#" target="_blank">使用条款</a> | <a href="#" target="_blank">联系我们</a> | <a href="#" target="_blank">法律声明</a> | <a href="#" target="_blank">招聘信息</a> | <a href="#" target="_blank">广告服务</a> | <a href="#">设为首页</a></div>
    
